.main {
  width: 328px;
}

/* For screens smaller than or equal to 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .main {
    width: 50%;
  }
}

input:disabled {
  background-color: rgb(216, 214, 212);
}

/* input:invalid {
  border: 0.2rem solid  #fa0c0c;
  background-color: #f5d9d9;
  border-radius: 4px;
  margin: 1rem 0.2rem 0.2rem 0rem;
} */